/* --------------------------------------------------------------------- */
/* global css for out lining */

* {
    outline: 1px dotted red;
    box-sizing: border-box;
}


/* --------------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------------------- */

/* Header CSS */

.header {
    background-color: rgb(59, 55, 55);
}

/* header h1 (Bloom Landing Page) color */

.header h1{
    color: azure;
    /* border: 1px solid white; */
}


.header ul {
    list-style-type: none;
    text-align: right;
    margin-top: 15px;
}

.header li {
    display: inline-flex;
}

.client_bold {
    text-emphasis: bold;
}

/* --------------------------------------------------------------------- */
/* Landing Page */

#bloom_landing_page {
    font-family: 'Butterfly Kids', cursive;
    text-emphasis: bold;
}

.landing_page h2 {
    font-family: 'Mukta', sans-serif;
}

.landing_page div {
    background-color: rgb(238, 107, 140);
}

.landing_page{
    display: flex;
}

#landing_right_side {
    width: 400px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.landing_page{
    background-color: rgb(238, 107, 140);
}

/* --------------------------------------------------------------------- */
/* Computer Image */

#laptop {
    border-radius: 4px;
    padding-top: 10%;
    padding-left: 15%;
    width: 400px;
}

/* --------------------------------------------------------------------- */
/* Social Media Icons */

#social_media_icons{
    color: whitesmoke;
}

/* --------------------------------------------------------------------- */
/* Button */

.btn btn-secondary  btn-sm{
    border-top: 1px solid whitesmoke;
}

/* --------------------------------------------------------------------- */
/* Mid Section */

.mid-sec-div {
    width: 300px;
}

/* --------------------------------------------------------------------- */
/* Horizontal Line */

hr{
    border: 2px solid rgb(238, 107, 140);
}


/* --------------------------------------------------------------------- */
/* Rectangle Boxes created in CSS*/

/* box-1 */
.boxes{
    display: flex;
    width: 400px;
}


.box {
    height: 100px;
    width: 150px;
    background-color: rgb(59, 55, 55);
    border: 5px rgb(188, 190, 219) solid;
}

.box p {
    text-align: center;
    line-height: 5;
    color: whitesmoke;
}

/* --------------------------------------------------------------------- */

/* Products Boxes Placement */

#products-section{
    display: flex;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    flex-wrap: wrap;
    padding-right: 50px;
}

/* --------------------------------------------------------------------- */

/* Bold CSS for Font for Client */
.bold_type {
    color:rgb(83, 83, 88);font-weight:bold
}




.group-right {
    width: 380px;
    /* margin-right: 600px; */
}
/* --------------------------------------------------------------------- */

/* Footer */

.footer {
    /* padding: 15px 0; */
    background-color: rgb(59, 55, 55);
}

.footer-items{
    display: flex;
}



.footer ul {
    margin-top: 15px;
    text-align: right;
    list-style-type: none;
}

.footer li {
    display: inline;
}

.footer h5, #footer_icons{
    color: azure;
}

#copyright h5{
    margin-top: 20px;
    margin-right: 44px;
    font-size: 10px;
}


